HELP.md
.gradle
/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/java
!**/src/main/resources
!**/src/test/**
SHome
oldSrc
/src/main/ui/node_modules
/src/main/ui/build
/src/main/ui/package-lock.json
Database
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Program ###
/PiCenter
PiCenter
sql

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
