
$mainHeaderColor: #808080;
$childHeaderColor: #d9d9d9;
$mainContentColor: #ffffff;
$navColor: 	#cccccc;
$lightTextColor: #f7e8ff;
$midDarkTextColor: 	#990000;
$primaryDarkColor: #1976D2;
$primaryLightColor: #BBDEFB;
$primaryColor: #2196F3;
$textIconColor: #FFFFFF;
$primaryTextColor: #212121;
$accentColor: #607D8B;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;

/** {
  box-sizing: border-box;
}*/
body {
  margin: 0;
  height: 100%;
  padding: 0;
}
#main {
  display: flex;
  min-height: calc(100% - 40%);
  height: 100%;
}
#main > article {
  justify-content: center;
  align-items: center;
  flex: 1;
}

#main > section {
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 80%;
  overflow: auto;
}

.lightText {
  color: $textIconColor;
}

.medDarkText{
  color: $primaryTextColor;
}
#main > nav,
#main > aside {
  flex: 0 0 20%;
  background: $primaryLightColor;
 }
#main > nav {
  order: -1;
}
header, footer, article, section, nav, aside {
  padding: 1em;
}

head{

}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chartContainer {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}


.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    text-align: center;
  }
}

/*.visualDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}*/

.visualDateContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
header{
  height: 7%;
  background: $primaryDarkColor;
  color: $textIconColor;
}
footer {
  background: $primaryDarkColor;
  height: 7%;
}

.headerButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

td{
  padding: 20px;
}

th {
  text-align: center;
}

/*
html {
  height: 100%;
}

.pageContainer {
  height: 100%;
  overflow: hidden;  //!*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*!
  margin: 0px;  //!*removes default style*!
  display: flex;  //!*enables flex content for its children*!
  box-sizing: border-box;
}

.column-right {
  height: 100%;  !*allows both columns to span the full height of the browser window*!
  display: flex;
  align-items: center;
  flex: 5;
  flex-direction: column;  !*places the left and right headers above the bottom content*!
}


.column-left {
  height: 100%;  !*allows both columns to span the full height of the browser window*!
  //display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: column;  !*places the left and right headers above the bottom content*!
}
#left {
  flex-shrink: 0;  !*makes sure that content is not cut off in a smaller browser window*!
  flex: 1;
}

#right {
  flex: 5;
}

.top-left {
  flex-shink: 0;
  height: 150px;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  height: 150px;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;  !*ensures that the container will take up the full height of the parent container*!
  overflow-y: auto;  !*adds scroll to this container*!
}
body {
  display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  //background-image: url('/picenterbkgd.webp');
  //background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


!*.logOnPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

}*!

.summaryTable{
  width: 100%;
}*/
