body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //background-image: url('/picenterbkgd.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.logOnPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;

}

.summaryTable{
  width: 100%;
}