<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pi Center Home</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link type="text/css" th:href="@{/styles/general.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/styles/tabs.css}" rel="stylesheet">
    <script th:src="@{/scripts/tabs.js}"></script>
</head>
<body onload="init()">
    <div class="content">
        <h1 style="text-align: center">PiCenter Readings</h1>
        <ul id="tabs">
            <li><a href="#lr">Living Room</a></li>
            <li><a href="#off">Office</a></li>
            <li><a href="#br">Bedroom</a></li>
            <li><a href="#sr">Server Room</a></li>
        </ul>
        <div class="tabContent" id="lr">
            <div id="lr-container">
                <h2 style="text-align: center">Living Room Readings</h2>
                <br>
                <table>
                    <tbody>
                    <tr th:each="Wrapper, stat : ${lrlist}">
                        <td
                                th:text="${Wrapper.string}">
                        </td>
                    </tbody>
                </table>
                <!--
                <p id="lr1"></p>
                <p id="lr2"></p>
                <p id="lr3"></p>
                <p id="lr4"></p>
                <p id="lr5"></p>
                -->
            </div>
        </div>
        <div class="tabContent" id="off">
            <div id="off-container">
                <h2 style="text-align: center">Office Readings</h2>
                <br>
                <table>
                    <tbody>
                    <tr th:each="Wrapper, stat : ${oflist}">
                        <td
                            th:text="${Wrapper.string}">
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabContent" id="br">
            <div id="br-container">
                <h2 style="text-align: center">Bedroom Readings</h2>
                <br>
                <table>
                    <tbody>
                    <tr th:each="Wrapper, stat : $(brlist}">
                        <td
                            th:text="${Wrapper.string}">
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabContent" id="sr">
            <div id="sr-container">
                <h2 style="text-align: center">Server Room Readings</h2>
                <br>
                <table>
                    <tbody>
                    <tr th:each="Wrapper, stat : ${srlist}">
                        <td
                            th:text="${Wrapper.string}">
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>