.tabContent{
    overflow: hidden;
    overflow-y: auto;
}

p1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color:yellow;
    text-align: center;
    font-size:20px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size:30px;
}

.block {
    padding: 10px;
    margin-top: 10px;
    height: auto;
}

h1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size:35px;
}

h2 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size:30px;
}

h3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size:25px;
}

h4 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size:23px;
}

h5 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size:22px;
}